
.drag-container {
    position: absolute;
    width: 11520px;
    height: 2160px;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
  }
  
  .drag-div {
    position: absolute;
    width: 10vw;
    height: 7vh;
    font-family: "Heebo";
    font-size: 5em;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
    box-shadow: 0 4;
    z-index: 10000;
  }
  .drop-div {
    position: absolute;
    width: 10vw;
    height: 7vh;
    font-family: "Heebo";
    font-size: 5em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    user-select: none;
    box-shadow: 0 4;
    z-index: 0;
  }