body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.App {
  position: absolute;
  width: 11520px;
  height: 2160px;
  display: flex;

}



.screen {
  width: 3840px;
  height: 2160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
  box-sizing: border-box;
  border-right: 4px solid white;
}

.screen1 {
  background-color: #e57373; /* אדום בהיר */
}

.screen2 {
  background-color: #81c784; /* ירוק בהיר */
}

.screen3 {
  background-color: #64b5f6; /* כחול בהיר */
}