body {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.App {
  position: absolute;
  width: 11520px;
  height: 2160px;
  display: flex;

}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Karantina:wght@300;400;700&display=swap');



.screen {
  width: 3840px;
  height: 2160px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:7em;
  color: white;
  box-sizing: border-box;
  border-right: 4px solid rgb(0, 0, 0);
}
.screen1 {
  background-color: #f0f0f0; /* אפור בהיר */
  border-right: 4px solid #dcdcdc; /* גבול אפור בינוני */
}

.screen2 {
  background-color: #807f7f; /* אפור בינוני */
  border-right: 4px solid #b0b0b0; /* גבול אפור כהה יותר */
}

.screen3 {
  background-color: #d0d0d0; /* אפור כהה יותר */
  border-right: 4px solid #8c8c8c; /* גבול אפור כהה */
}
.App.full {
  width: 11520px;
}

.App.single {
  width: 3840px;
}
